* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.header{
   min-height: 100vh;
   width:100%;
   background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url("./hero-cover.3.png");
   background-position: center;
   background-size: cover;
   position:relative;


}

.brand_name {

    color: rgb(254, 254, 254);
    text-decoration: none;


}

.button {
    background-color: rgb(35, 166, 240);
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
}

.fa-arrow-right {
    color: beige;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;


}

.nav-links ul li a {
    color: rgb(254, 254, 254);
    text-decoration: none;
    font-size: 13px;

}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;


}

.nav-links ul li:hover::after {
    width: 100%;

}

.text-box{
  width:90% ;
  color:beige;
  position: absolute;
  top: 50%;
  left:0%;
  transform: translate(-50%,-5);
  text-align:center;
  margin-left: 10%;

}

.text-box h1 {

    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;

}

.button1 {

    color: beige;
    background-color: rgb(35, 166, 240);
    padding: 10px;
    text-decoration: none;
    border-radius: 9px;


}

.button2 {
    color: beige;
    background-color: rgb(35, 166, 240);
    padding: 10px;
    text-decoration: none;
    border-radius: 9px;
    margin-left: 20pt;


}

.flex {

    display: flex;
    margin-left: 40%;
}

#fafa {
    display: none;
}

@media (max-width:700px) {
    .text-box h1 {

        font-size: 20px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: rgb(240, 158, 35);
        height: 100vh;
        width: 260px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }

    #fafa {

        display: block;
        color: brown;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;


    }

    .nav-links ul {
        padding: 30px;



    }

    .section2 {
        display: block;
        max-width: 600px;
        flex-wrap: wrap;

    }

    .section2>div:first-child {
        text-align: center;
    }

    .column2 {

        padding: 1%;
        background-color: rgb(255, 255, 255);



    }

    .actual_testimonials {
        display: block;
        flex-wrap: wrap;
    }

    .cool {
        display: block;
        flex-wrap: wrap;
    }

}

#boxes {

    display: flex;
    justify-content: space-between;

    
    position: relative;
    bottom:80px;
    padding-bottom: 3%;
    

    
    
    
}
.peace{
    padding:6%;
    background-color: rgb(255,255,255);
    margin:10px;
    border:2px  solid gray;

    margin-left: 9%;
    box-sizing: border-box;

}

.set {
    padding: 6%;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border: 2px solid gray;
    margin-left: 3%;
    box-sizing: border-box;
}

.satisfaction {
    padding: 6%;
    background-color: rgb(35, 166, 240);
    margin: 10px;
    border: 2px solid gray;
    margin-right: 9%;
    margin-left: 3%;
    box-sizing: border-box;
}

.section2{
    
    display:flex ;
    justify-content: center;
    
    
    padding-bottom: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
   
    


}
.three .increase_size{
    width: 130px;
    height: 100px;
}
.three{
    display: flex;
    flex-direction: column;
    padding-top: 1%;
     padding-left: 60px;
    
}
.twoo{
    display: flex;
    flex-direction: column;
     padding-left: 60px;
}
.onee{

    display: flex;
    flex-direction: column;
}



.column2{
   align-items:center;
    background-color: rgb(255,255,255);
   
    

}

.testimonials{


.testimonials {

    background-color: rgb(250, 250, 250);

}

.Industry {

    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10%;



}

.Industry>p {
    color: rgb(188, 188, 188);
}

.testimonial-col {
    display: flex;
    flex-direction: column;
    padding-left: 20%;
    padding-bottom: 300px;


    border-radius: 10px;

}

.testimonial-col img {

    height: 130px;
    width: 130px;
    padding-left: px;



}

.actual_testimonials {
    display: flex;

}

.fa-star {
    color: rgb(243, 205, 2);
    padding-top: 10px;
    padding-left: 5px;
}

.cool {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 180px;
}

.cool img {
    padding-left: 20px;
    width: 100px;
    height: 100px;
}

.text_box {

    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    background: linear-gradient(to right, rgb(4, 69, 136), rgb(204, 66, 136));
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
}

.text_box p {

    padding-right: 23%;
    padding-top: 10px;
    color: rgb(250, 250, 250)
}

.text_box span {
    padding-top: 18px;



}

.subscribe {
    color: rgb(250, 250, 250);
    background-color: rgb(84, 186, 243);








}

.testimonial-col p {
    color: rgb(129, 126, 126);
    font-size: 11px;

}

.pricing {
    text-align: center;
    padding-bottom: 150px;


}

.pricing p {

    color: rgb(129, 126, 126);

}

.three {
    display: flex;
    padding-bottom: 10%;
    box-sizing: border-box;
    padding-left: 10%;


}

.Free {

    padding-left: 3%;
    border: 2px solid blue;
    margin-left: 20%;
    padding-bottom: 5%;
    padding-top: 3%;
    margin-top: 20px;
    border-radius: 10px;

}

.Standard {

    padding-left: 3%;
    border: 2px solid blue;
    margin-left: 0%;
    padding-bottom: 5%;
    padding-top: 3%;
    margin-top: 0px;
    border-radius: 10px;
    background-color: rgb(37, 43, 66);
    color: rgb(250, 250, 250);

}

.Premium {

    padding-left: 3%;
    border: 2px solid blue;
    margin-left: 0%;
    padding-bottom: 5%;
    padding-top: 3%;
    margin-top: 20px;
    border-radius: 10px;

}

.mapbranch {

    display: flex;
    padding-bottom: 200px;
    background-color: rgb(37, 43, 66);
    margin-left: 20px;
    margin-right: 20px;

}

.branches {
    padding-left: 80px;
    padding-top: 120px;
    color: rgb(250, 250, 250)
}

.map img {
    height: 200px;
    padding-left: 50%;
    padding-top: 100px;




}

.container_img img {

    height: 400px;
    padding-left: 20px;

}

.form-field {
    padding-left: 10px;

}

.appointment-header {

    padding-left: 10px;
    color: beige;


}

.container-form {

    display: flex;
    flex-direction: row;

}

.apointment {
    display: flex;
    box-sizing: border-box;
    padding-left: 35%;
    position: relative;
    bottom: 160px;
    padding-bottom: 2%;





}

.form-submit {
    padding: 10px;





}

.contact_us {
    display: inline-block;
    padding-bottom: 90px;
    padding-left: 30%;


}

.us {
    padding-left: 190px;
    padding-bottom: 10px;

    margin-left: 2%;


}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;

}

.footer {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    padding-bottom: 20px;
}

.footer-col ul {
    list-style-type: none;

}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col ul li a {
    text-decoration: none;
}

.alaa {
    background-color: rgb(145, 137, 137);
    padding: 10px;
    margin: 10px;
}

.xxx {
    padding-left: 53%;

}